---
title: Rick and Morty Characters
layout: layout.liquid
pagination:
  data: characters
  size: 1
  alias: character
permalink: "/characters/{{character.name|slug}}/"
---

<h1>Let's get schwifty</h1>

<h2>{{ character.name }}</h2>
<img src="{{character.image}}" alt="{{character.name}}">

{% if pagination.href.previous %}
<a href="{{pagination.href.previous}}">Previous Page</a>
{% endif %}
{% if pagination.href.next %}
<a href="{{pagination.href.next}}">Next Page</a>
{% endif %}